/* for the whole page */

a {
  color:var(--text-color) ;
  text-decoration: none;
}
  
body {
  color: var(--text-color);
  font-size: 18px;
  font-family:'Overpass', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bkg-color);
}

/* dark mode toggle */
html {
  --text-color: #30475e;
  --bkg-color: #fff;
  --bkg-panel: #EBEBEB;
  --color-headings: #222831;
  --footer-color: #fa8787;
  --bkg-menu-color:black;
  --btn-color:#fa8787;
  --img-brightness:1;
  --img-contrast:1;
  --underline-animation-color:#fa8787;
}

html[data-theme="dark"] {
  --text-color: #eee;
  --bkg-color: #222222;
  --bkg-panel: #3a3a3a;
  --color-headings: rgb(172, 172, 172);
  --footer-color: #131313;
  --bkg-menu-color:white;
  --img-brightness:.8;
  --img-contrast:1.2;
  --underline-animation-color:white;
}

/* toggle button */
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
  float: right;
  margin-right: 115px;
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 5px;
	width: 22.5px;
	height: 22.5px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--btn-color);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}



/*header*/

.header {
  display: flex;
}
  
.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.logo-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 100px;
}

.logo {
  width: 100px;
}

.nav-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 100px;
}

nav ul li {
  display: inline;
  font-size: 20px;
  padding: 0 15px;
}

/* underline animation */
.underline-animation {
  position: relative;
}

.underline-animation:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: var(--underline-animation-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.underline-animation:hover:after { 
  width: 90%; 
  left: 5%;
}
  

/* media query for nav bar */

  
@media only screen and (max-width:1075px)
{

  .underline-animation {
    background-image: none;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 1s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: var(--bkg-color);
    top: 10%;
    left: 0;
    opacity: 1;
    transition: all 1s ease;
    z-index: 99;
    height: 100%;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--bkg-menu-color);
    opacity: 80%;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--text-color);
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  #mobile-menu {
      position: flex;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
  }

  .navbar__toggle .bar{
      display: block;
      cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }
} 

/* main */

h1 {
  text-align: center;
  font-size: 5.5rem;
  color: var(--color-headings);
}

h2 {
  font-size: 2.7rem;
  color: var(--color-headings);
}

ul, p {
  line-height: 2rem;
}

p {
  font-size: 1.4rem;
  text-align: justify;
  margin: 0;
}

ul {
  list-style-type: none;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
}

/* all projects common css */
.project-img {
  width: 100%;
  box-shadow: 1px 2px 30px rgba(0,0,0,0.2);
  filter: brightness(var(--img-brightness)) contrast(var(--img-contrast));
}

/* project left css main */
.project-step-left {
  background-color: var(--bkg-panel);
  border-radius: 10px;
  padding: 1rem;
}

.text-div-left {
  padding-right: 5rem;
}

/* project right css main */
.project-step-right {
  border-radius: 10px;
  padding: 1rem;
}


.project-h2-right {
  text-align: right;
}

.text-div-right {
  padding-left: 5rem;
}

.text-2 {
  text-align: right;
}

/* media query for projects */
@media only screen and (max-width:1200px)
{
  .text-div-1 {
    padding-top: 1.5rem;
  }
  
}
/* footer */

.footer-container {
  background-color: var(--footer-color);
  min-height: 220px;
  background-image: url(../img/socialmedia.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  color: var(--footer-text-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.social-icon {
  height: 90px;
  margin: 10px 20px;
  filter: brightness(var(--img-brightness)) contrast(var(--img-contrast));
}

@media only screen and (max-width:800px)
{
  .social-icon {
    height: 60px;
  }
}

.social-icons-container {
  text-align: center;
}

.text-footer {
  background-color: var(--footer-color);
}

.text-footer-p {
  margin: 0;
  text-align: right;
  color: black;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
}